/*
important colors

dark blue:  rgba(18,74,127,.8)
light blue: rgba(113,185,255,.8)
dark complement: #fff3a8
light complement: #ffa571
*/

body{
  margin:0;
  padding:0;
}

#header{
  /*background:pink;*/
  margin-left:5vw;
  margin-right:5vw;
  font-family: 'Luckiest Guy', cursive;
}


#loveshipWrapper,#starblastWrapper{
  display:flex;
  justify-content: center;
  position: absolute;
  /*background: red;*/
  width: 90vw;
}
#starblastIcon{
  background: radial-gradient( rgba(18,74,127,0), rgba(113,185,255,.5) ),url("/universal/starblast.jpg");
  /*width:90vw;*/
  width: 5em;
  height:5em;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left:22em;
  top:1em;
  border-radius: 25px;
  opacity: 1;
  display: none;
  /*background-color: rgba(200,100,0,1); // Tint color
  background-blend-mode: multiply;*/
}
#loveShip{
  background: url("/universal/loveship.png");
  /*width:90vw;*/
  width: 8em;
  height:8em;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left:-22em;
  top:-.2em;
}






#titleWrapper{
  text-align: center;
}
.blueBox,#titleBox,#navWrapper>a{
  display:inline-block;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
  background: rgba(18,74,127,.8);
  border-color: rgba(113,185,255,.8);
  color:rgba(113,185,255,.8);
}

.blueBox,.invBlueBox{
  display:inline-block;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.blueBox{
  background: rgba(18,74,127,.8);
  border-color: rgba(113,185,255,.8);
  color:rgba(113,185,255,.8);
}

.invBlueBox{
  border-width: 0px;
  border-color: rgba(18,74,127,1);
  background: rgba(113,185,255,.8);
  /*color:rgba(18,74,127,1);*/
  color:black;
}



#titleBox{
  padding-left:1em;
  padding-right:1em;
  margin-top:1em;
  margin-bottom:1em;
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
}
#titleBox span{
  position: relative;
}
#titleSubText{
  position: relative;
  top:-.3em;
}


#title  {
  display: inline-block;
  font-weight: 900;
  /*font-variant: small-caps;*/
  font-size: 48px;
  letter-spacing:.05em;
  text-align: center;
  margin: 0;
  padding: 0;

}


/*#titleBox>span{
  color:rgba(113,185,255,.8);
  padding: 0;
  margin: 0;
  position: relative;
  top:-.3em;
}*/

#navWrapper{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:center;
  margin-bottom: 2em;
  flex-wrap: wrap;
}
#navWrapper>a{
  flex:4em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  margin-left:.5em;
  margin-right:.5em;
  text-align: center;
}
#navWrapper>a:hover,#titleBox:hover{
  background: rgba(36,148,255,.5);
}

.activePage{
  background:rgba(36,148,255,.6) !important;
  /*text-decoration: underline !important;*/
  /*font-size: 20em;*/
}

#canvasHolder{
  width:100%;
  height:100%;
  background: black;
  z-index: -30;
  position: fixed;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  user-select: none;
}

#pageWrapper{
  margin-left:5vw;
  margin-right:5vw;
  margin-bottom:1em;
  /*background: #CCCCCC;*/
}

#footer{
  position: fixed;
  bottom: 0;
  display: block;
  width: 90vw;
  text-align: center;
  margin-left:5vw;
  margin-right:5vw;
  color:rgba(113,185,255,.8);
  /*background: pink;*/
}
#footer *{
  color:rgba(113,185,255,.8);
  /*text-decoration: none;*/
}

@media (max-width: 1000px) {
  #loveShip,#starblastIcon{
    display: none;
  }
  #navWrapper>a{
    flex:4em !important;
    margin-left:.5em;
    margin-right:.5em;
    font-size: 1.5em;
  }
  #pageWrapper{
    margin-left:0vw;
    margin-right:0vw;
  }
  #header{
    /*background:pink;*/
    margin-left:0vw;
    margin-right:0vw;
  }
}
