


#legend{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2em;
}

#legend>span{
  display: flex;
  align-items:center;
  justify-content: center;
}
#legend>span>img{
  margin-right: .5em;
}

#shipTree{
  min-width: 60em;
}




#shipTree .tier{
  /*font-size:.4em;*/
  justify-content: space-around;
  display: flex;
  /*background: white;*/
}

.shipBox{
  width: 5em;
  height: 5em;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}

.shipBox:hover .shipName,.shipBox:hover .shipNameStroke,.shipBox:hover .shipStatsBox{
  /*visibility: visible;*/
  opacity: 1;
}

.shipImage{
  width: 5em;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /*height: 5em;*/
  position: relative;
  border-radius: 10px;
  /*top:1em;*/
}

.shipName{
  width: 10em;
  position: absolute;
  right:.7em;
  color:#fff3a8;

  top:2em;

  pointer-events: none;
  opacity:0;
  transition:opacity .5s linear;
  z-index: 99;

  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  font-weight: bolder;
}

.shipNameStroke{
  width: 10em;
  position: absolute;
  right:.7em;

  top:2em;

  font-weight: bolder;

  pointer-events: none;
  position: absolute;
  opacity:0;
  transition:opacity 1s linear;
  z-index: 98;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;

  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}


.shipStatsBox{
  pointer-events: none;
  position: relative;
  left:5.5em;
  width: 5em;
  padding: 0.2em;
  color: rgba(113,185,255,.8);
  background: rgba(18,74,127,.8);
  position: absolute;
  opacity:0;
  transition:opacity 1s linear;
  z-index: 98;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-weight: bolder;

  top:-1em;
  
  border-width: 2px;
  border-style: solid;
  border-color: rgba(113, 185, 255, 0.8);
  border:solid;
  border-radius: 10px;
}

.statWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.statImage{
  height: 1em;
  /*margin-right: .1em;*/
  opacity: .8;
}

/*.shipAreaWrapper:last-of-type{
  background: pink !important;
}*/

/*.shipAreaWrapper:last-of-type .shipStatsBox{
  left:-6em !important;
  align-items: flex-end;
}

.shipAreaWrapper:last-of-type .statWrapper{
  flex-direction: row-reverse;
}
.shipAreaWrapper:last-of-type .statImage{
  margin-right: 0em;
  margin-left: .5em;
}*/

#shipTree div>span{
   flex: 1 1 auto;
   text-align: center;
}
.incomingWrapper{
  display:flex;
}
.incomingWrapper>span{
  flex: 1 0 auto;
  height: 2em;

}

.incomingSpacer{
  /*width: 1em !important;*/
  flex:0 0 1em !important;

  /*height: 2em;*/
}

.incomingRight,.incomingLeft{
  border-bottom: solid rgba(113,185,255,.8) 4px;
}
.incomingRight{
  border-left: solid rgba(113,185,255,.8) 4px;
  border-bottom-left-radius: 10px;
}
.incomingLeft{
  border-right: solid rgba(113,185,255,.8) 4px;
  border-bottom-right-radius: 10px;
}

.hiddenShip{
  border-bottom: solid rgba(113,185,255,.8) 4px;
}


.outletLineWrapper{
  /*background: yellow;*/
  width: 5em;
  display: flex;
  justify-content: space-around;
}
.outletLine{
  background: rgba(113,185,255,.8);
  width: 4px;
  height: 1em;
}

.showfalse{
  visibility: hidden;
}

.shipWideWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}




.firstTier .incomingWrapper{
  display: none;
}

.lastTier .shipAreaWrapper:nth-of-type(1) .shipWideWrapper{
  align-items: flex-start;
}

.lastTier .shipAreaWrapper:nth-of-type(1) .incomingLeft{
  /*display: none;*/
  flex:0 0 2em !important;
}

.lastTier .shipAreaWrapper:last-of-type .shipWideWrapper{
  align-items: flex-end;
}

.lastTier .shipAreaWrapper:last-of-type .incomingRight{
  flex:0 0 2em !important;
}

.lastTier .outletLineWrapper{
  display: none;
}


/* Tooltip text */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .2em;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


#loadingText{
  background: transparent;
  margin-top: .5em;
  font-size: 5em;
  text-align: center;
  color:rgba(255,255,255,.5);
}
