#shipTree{
  min-width: 50em;
}




#shipTree .tier{
  /*font-size:.4em;*/
  justify-content: space-around;
  display: flex;
  /*background: white;*/
}

.shipBox{
  width: 5em;
  height: 5em;
  display: flex;
  justify-content:center;
  align-items: center;
}

.shipBox:hover .shipName,.shipBox:hover .shipNameStroke{
  /*visibility: visible;*/
  opacity: 1;
}

.shipImage{
  width: 5em;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /*height: 5em;*/
  position: absolute;
  border-radius: 10px;
}

.shipName{
  position: absolute;
  /*visibility: hidden;*/
  opacity:0;
  transition:opacity .5s linear;
  z-index: 99;
}

.shipNameStroke{
  position: absolute;
  /*visibility: hidden;*/
  opacity:0;
  transition:opacity 1s linear;
  z-index: 98;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
}

#shipTree div>span{
   flex: 1 1 auto;
   text-align: center;
}
.incomingWrapper{
  display:flex;
}
.incomingWrapper>span{
  flex: 1 0 auto;
  height: 2em;

}

.incomingSpacer{
  /*width: 1em !important;*/
  flex:0 0 1em !important;

  /*height: 2em;*/
}

.incomingRight,.incomingLeft{
  border-bottom: solid rgba(113,185,255,.8) 4px;
}
.incomingRight{
  border-left: solid rgba(113,185,255,.8) 4px;
  border-bottom-left-radius: 10px;
}
.incomingLeft{
  border-right: solid rgba(113,185,255,.8) 4px;
  border-bottom-right-radius: 10px;
}


.outletLineWrapper{
  /*background: yellow;*/
  width: 5em;
  display: flex;
  justify-content: space-around;
}
.outletLine{
  background: rgba(113,185,255,.8) !important;
  width: 4px;
  height: 1em;
}

.showfalse{
  visibility: hidden;
}

.shipWideWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}




.firstTier .incomingWrapper{
  display: none;
}

.lastTier .shipAreaWrapper:nth-of-type(1) .shipWideWrapper{
  align-items: flex-start;
}

.lastTier .shipAreaWrapper:nth-of-type(1) .incomingLeft{
  /*display: none;*/
  flex:0 0 2em !important;
}

.lastTier .shipAreaWrapper:last-of-type .shipWideWrapper{
  align-items: flex-end;
}

.lastTier .shipAreaWrapper:last-of-type .incomingRight{
  flex:0 0 2em !important;
}

.lastTier .outletLineWrapper{
  display: none;
}


/* Tooltip text */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .2em;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


#loadingText{
  background: transparent;
  margin-top: .5em;
  font-size: 5em;
  text-align: center;
  color:rgba(255,255,255,.5);
}
